@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-gradient {
  background: radial-gradient(
    121.73% 121.49% at 100% -3.39%,
    #1f4247 0%,
    #0d1d23 56.18%,
    #09141a 100%
  );
}

.bg-input {
  background: #ffffff0f;
}

.bg-button {
  background: linear-gradient(108.32deg, #62cdcb 24.88%, #4599db 78.49%);
}

.bg-button2 {
  background: linear-gradient(50.32deg, #62cdcb 24.88%, #4599db 70%);
}

.bg-plus {
  background: linear-gradient(
    74.08deg,
    #94783e -6.8%,
    #f3eda6 16.76%,
    #f8fae5 30.5%,
    #ffe2be 49.6%,
    #d5be88 78.56%,
    #f8fae5 89.01%,
    #d5be88 100.43%
  );
}

.gold {
  background: linear-gradient(
    74.08deg,
    #94783e -6.8%,
    #f3eda6 16.76%,
    #f8fae5 30.5%,
    #ffe2be 49.6%,
    #d5be88 78.56%,
    #f8fae5 89.01%,
    #d5be88 100.43%
  );
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
